# Dependencies
node_modules/
.pnpm-store/

# Build artifacts
dist/
build/
.next/
out/

# Environment files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# The ror folder and its contents
ror/
/ror/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS metadata
.DS_Store
Thumbs.db
